// Navigation Styles here
nav{

    margin-right: 90px;

    a{
        font-size: 1.5rem;
        margin-right: 20px;
        text-decoration: none;
        color: black;
    }

    @media @mobile{
        margin-right: 0;
    }
}